<section
	class="fixed bottom-0 left-0 right-0 top-0 z-[1000] bg-zinc-200/40 backdrop-blur-[2px] dark:bg-slate-900/80"
	(click)="navModulesService.handleClose()"
></section>
<section
	class="fixed bottom-0 right-0 top-0 z-[1001] w-[350px] border-l border-slate-900/10 bg-zinc-50/90 px-6 py-6 backdrop-blur-[4px] dark:border-slate-50/10 dark:bg-slate-900/95"
>
	<div class="relative">
		<fa-icon
			[icon]="icons()['faAngleRight']"
			class="absolute bottom-0 left-0 top-0 flex items-center px-3 text-slate-500"
		/>
		<input
			type="text"
			class="kds-input kds-input-sm w-full !pl-10 font-mono text-xs !leading-5"
			placeholder="Run"
			(keyup.Enter)="handleEnter()"
			[formControl]="runInput"
			#runInputRef
		/>
	</div>
	@if (runError()) {
		<span class="text-xs text-red-400">{{ runError() }}</span>
	}
	<ul class="my-4 flex cursor-pointer flex-col gap-0.5">
		<li
			class="flex select-none flex-row items-center justify-between rounded-md px-4 py-2 font-medium transition-transform *:text-slate-600 hover:bg-zinc-100 active:scale-95 *:dark:text-current dark:hover:bg-slate-700"
			(click)="themeManagerService.invert()"
		>
			<span class="flex flex-col items-start text-xs">
				Change Theme
				<span class="font-mono text-[.70rem] text-slate-400 dark:text-dongs-400">{{ useDarkTheme() ? 'Dark' : 'Light' }}</span>
			</span>
			<fa-icon
				[icon]="icons()['faCircleHalfStroke']"
				size="xs"
			/>
		</li>
		<li
			class="flex select-none flex-row items-center justify-between rounded-md px-4 py-2 font-medium transition-transform *:text-red-400 hover:bg-zinc-100 active:scale-95 dark:hover:bg-slate-700"
			(click)="tokenManagerService.clear()"
		>
			<span class="text-xs">Logout</span>
			<fa-icon
				[icon]="icons()['faPowerOff']"
				size="xs"
			/>
		</li>
	</ul>
	<hr class="kds-h-divider !h-px text-slate-400" />
	<ul class="flex cursor-pointer flex-col gap-1.5">
		@for (module of navModulesService.modules(); track module?.url) {
			<a
				class="flex select-none flex-row items-center justify-between rounded-md px-4 py-2 font-medium transition-transform *:text-slate-600 hover:bg-zinc-100 active:scale-95 *:dark:text-current dark:hover:bg-slate-700"
				routerLink="{{ module!.url }}"
				routerLinkActive="navleft-router-link-active"
				(click)="navModulesService.handleClose()"
			>
				<span class="text-xs">{{ module!.title }}</span>
				@if (module?.icon) {
					<fa-icon
						[icon]="icons()[module!.icon]"
						size="xs"
					/>
				}
			</a>
		}
	</ul>
</section>
