<section
	class="fixed bottom-0 left-0 right-0 top-0 z-[1000] bg-slate-200/40 backdrop-blur-[2px] dark:bg-slate-900/40"
	(click)="navModulesService.handleClose()"
></section>
<section class="fixed bottom-0 right-0 top-0 z-[1001] w-[350px] bg-slate-50/90 px-6 py-6 shadow-md backdrop-blur-[4px] dark:bg-slate-900/90">
	<div class="relative">
		<fa-icon
			[icon]="icons().faMagnifyingGlass"
			class="absolute bottom-0 left-0 top-0 flex items-center px-3 text-slate-500"
		/>
		<input
			type="text"
			class="kds-input kds-input-sm w-full !pl-10 text-sm"
			placeholder="Goto"
			#searchInput
		/>
	</div>
	<ul class="my-4 flex cursor-pointer flex-col gap-0.5">
		<li
			class="flex flex-row items-center justify-between rounded-md px-4 py-2 font-medium *:text-slate-600 hover:bg-slate-100 hover:brightness-100 *:dark:text-current dark:hover:bg-slate-700 hover:dark:brightness-110"
			(click)="themeManagerService.invert()"
		>
			<span class="flex flex-col items-start text-xs">
				Change Theme
				<span class="text-[.75rem] font-semibold text-slate-300 dark:text-indigo-400">{{ useDarkTheme() ? 'Dark' : 'Light' }}</span>
			</span>
			<fa-icon
				[icon]="icons().faCircleHalfStroke"
				size="xs"
			/>
		</li>
		<li
			class="flex flex-row items-center justify-between rounded-md px-4 py-2 font-medium *:text-slate-600 hover:bg-slate-100 hover:brightness-100 *:dark:text-current dark:hover:bg-slate-700 hover:dark:brightness-110"
			(click)="tokenManagerService.clear()"
		>
			<span class="text-xs">Logout</span>
			<fa-icon
				[icon]="icons().faPowerOff"
				size="xs"
			/>
		</li>
	</ul>
	<hr class="kds-h-divider !h-px text-slate-400" />
	<ul class="flex cursor-pointer flex-col gap-0.5">
		<!-- @for (module of navLeftService.modules(); track $index) {} -->
		<li
			class="flex flex-row items-center justify-between rounded-md px-4 py-1 font-medium *:text-slate-600 hover:bg-slate-100 hover:brightness-100 *:dark:text-current dark:hover:bg-slate-700 hover:dark:brightness-110"
			routerLink="/r!/home"
			routerLinkActive="navleft-router-link-active"
		>
			<span class="text-xs">Home</span>
			<fa-icon
				[icon]="icons().faHouse"
				size="xs"
			/>
		</li>
		<li
			class="flex flex-row items-center justify-between rounded-md px-4 py-1 font-medium *:text-slate-600 hover:bg-slate-100 hover:brightness-100 *:dark:text-current dark:hover:bg-slate-700 hover:dark:brightness-110"
			routerLink="/r!/users"
			routerLinkActive="navleft-router-link-active"
		>
			<span class="text-xs">Users</span>
			<fa-icon
				[icon]="icons().faUsersGear"
				size="xs"
			/>
		</li>
	</ul>
</section>
