{
	"jsxSingleQuote": true,
	"singleQuote": true,
	"tabWidth": 4,
	"printWidth": 180,
	"useTabs": true,
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
