<main class="min-h-screen bg-gradient-to-r from-zinc-100 to-dongs-100 dark:from-slate-900 dark:to-dongs-950">
	<ngx-particles [options]="particlesOptions" />
	<section class="flex min-h-screen flex-row items-stretch gap-0 desktop-2k:container">
		<section
			class="z-10 mx-8 my-8 flex flex-1 flex-col rounded-lg bg-slate-50 px-8 pb-4 pt-8 shadow-lg tablet-h:mr-0 tablet-h:max-w-[400px] tablet-h:flex-auto laptop:max-w-[500px] dark:bg-slate-700"
		>
			<div
				class="mb-20 mt-8 flex flex-row items-center justify-center gap-4 mobile-h:gap-8"
				*kdsViewportMatch="[viewports().MOBILE_VERTICAL, viewports().MOBILE_HORIZONTAL, viewports().TABLET_VERTICAL]"
			>
				<img
					class="h-28 select-none drop-shadow-md mobile-h:h-36 tablet-v:h-44"
					src="assets/kdongs-icon-square-470x468-noback.png"
					alt="logo"
				/>
				<span class="font-kds-inter text-5xl text-dongs-500 drop-shadow-md mobile-h:text-7xl">Kdongs</span>
			</div>
			<span class="kds-title-slash text-xl font-semibold text-green-600 dark:text-slate-300">Login</span>
			<form
				class="mb-12 mt-20 px-4"
				[formGroup]="loginForm"
				(ngSubmit)="handleLoginFormSubmit()"
			>
				<div class="flex flex-col gap-4">
					<div class="kds-form-group-v">
						<label for="login-username">Username</label>
						<input
							type="text"
							name="username"
							id="login-username"
							class="kds-input"
							formControlName="username"
                            autofocus
						/>
						@if (loginForm.controls.username.invalid && loginForm.controls.username.touched) {
							<span class="kds-form-group-error">Invalid Username</span>
						}
					</div>
					<div class="kds-form-group-v">
						<label for="login-password">Password</label>
						<div class="relative">
							<input
								[type]="showPassword() ? 'text' : 'password'"
								name="password"
								id="login-password"
								class="kds-input w-full !pr-14"
								formControlName="password"
							/>
							<button
								type="button"
								class="absolute bottom-0 right-0 top-0 m-0.5 rounded bg-gradient-to-r from-slate-100 to-dongs-200/50 px-4 py-1 opacity-75 hover:opacity-95"
								(click)="handlePasswordShow()"
							>
								<fa-icon
									[icon]="showPassword() ? icons().faEye : icons().faEyeSlash"
									class="text-dongs-500"
									size="sm"
								/>
							</button>
						</div>
						@if (loginForm.controls.password.invalid && loginForm.controls.password.touched) {
							<span class="kds-form-group-error">Invalid Password</span>
						}
					</div>
					<div class="mt-4 flex w-full flex-row items-center justify-end">
						<button
							type="submit"
							class="group/go kds-button kds-button-sm w-full bg-green-600 text-white hover:brightness-110 tablet-h:w-1/3"
						>
							Go
							@if (loadingLoginForm()) {
								<kds-loading-spinner class="ml-auto" />
							} @else {
								<fa-icon
									class="ml-auto text-white group-hover/go:animate-kds-go"
									[icon]="icons().faAnglesRight"
								/>
							}
						</button>
					</div>
				</div>
			</form>
			<div class="mt-8 rounded-lg bg-slate-200 p-4 text-sm/6 font-medium text-slate-500 dark:bg-slate-800">
				<p>
					Welcome to the
					<span class="font-kds-mono text-dongs-500">Kdongs</span>
					system.
				</p>
				<p>If you have credentials you may continue, otherwise feel free to reach me out.</p>
				<div class="mt-4 flex flex-row gap-4">
					<a
						class="group/link flex flex-row items-center rounded-lg px-2 py-1 font-kds-mono text-lg font-medium text-slate-500 hover:brightness-110 hover:backdrop-brightness-95"
						href="https://www.linkedin.com/in/lucasfscastro/"
						target="_blank"
					>
						<fa-icon
							class="mr-2 group-hover/link:text-dongs-500"
							[icon]="icons().faLinkedin"
							size="lg"
						/>
						/lucasfscastro
					</a>
					<a
						class="group/link flex flex-row items-center rounded-lg px-2 py-1 font-kds-mono text-lg font-medium text-slate-500 hover:brightness-110 hover:backdrop-brightness-95"
						href="https://github.com/lfsc09"
						target="_blank"
					>
						<fa-icon
							class="mr-2 group-hover/link:text-dongs-500"
							[icon]="icons().faGithub"
							size="lg"
						/>
						/lfsc09</a
					>
				</div>
			</div>
			<footer class="mt-auto text-center">
				<p class="mt-8 select-none text-[.65rem] font-bold text-slate-500 dark:text-slate-300">KDONGS &#64; {{ year() }}</p>
			</footer>
		</section>
		<section
			class="z-10 flex flex-1 select-none flex-col items-center justify-center gap-6"
			*kdsViewportMatch="[viewports().TABLET_HORIZONTAL, viewports().LAPTOP, viewports().DESKTOP_1K, viewports().DESKTOP_2K]"
		>
			<img
				class="max-h-52 drop-shadow-md laptop:max-h-72"
				src="assets/kdongs-icon-square-470x468-noback.png"
				alt="logo"
			/>
			<span class="font-kds-inter text-8xl text-dongs-500 drop-shadow-md laptop:text-9xl">Kdongs</span>
		</section>
	</section>
</main>
