<aside class="fixed bottom-0 left-0 right-0 top-0 z-[900] flex items-center justify-center bg-neutral-200/40 backdrop-blur-[2px] dark:bg-neutral-900/80">
	<section
		class="absolute bottom-0 left-0 right-0 top-0 z-[901]"
		(click)="handleClose()"
	></section>
	<section class="z-[901] flex min-w-[450px] flex-col gap-8 rounded-md border border-neutral-900/10 bg-neutral-50 p-6 shadow-sm dark:border-neutral-50/10 dark:bg-neutral-800">
		<div class="flex flex-row gap-6 rounded-lg border border-dashed border-neutral-900/10 p-6 dark:border-neutral-50/10">
			<div class="kds-form-group-v flex-1">
				<label
					for="control-goto"
					class="text-xs"
				>
					Go to Page
				</label>
				<input
					id="control-goto"
					type="number"
					class="kds-input kds-input-xs w-full text-center font-mono text-xs"
					min="1"
					[formControl]="currPageInput"
					(focus)="currPageRef.select()"
					(keyup.Enter)="handleApply()"
					#currPageRef
				/>
			</div>
			<div class="kds-form-group-v flex-1">
				<label
					for="control-itemsPerPage"
					class="text-xs"
				>
					Items per Page
				</label>
				<input
					id="control-itemsPerPage"
					type="number"
					class="kds-input kds-input-xs w-full text-center font-mono text-xs"
					min="5"
					step="5"
					[formControl]="itemsPerPageInput"
					(focus)="itemsPerPageRef.select()"
					(keyup.Enter)="handleApply()"
					#itemsPerPageRef
				/>
			</div>
		</div>
		<div class="rounded-lg border border-dashed border-neutral-900/10 p-6 dark:border-neutral-50/10">
			<p class="kds-title-slash select-none font-semibold text-dongs-500">Filter by</p>
			<div class="mt-6 flex flex-col gap-6">
				<div class="kds-form-group-v flex-1">
					<label
						for="filter-user"
						class="text-xs"
					>
						User
					</label>
					<input
						id="filter-user"
						type="text"
						class="kds-input kds-input-xs w-full font-mono text-xs"
					/>
				</div>
				<div class="kds-form-group-v flex-1">
					<label
						for="filter-email"
						class="text-xs"
					>
						Email
					</label>
					<input
						id="filter-email"
						type="text"
						class="kds-input kds-input-xs w-full font-mono text-xs"
						autocomplete="new-password"
					/>
				</div>
			</div>
		</div>
		<div class="flex w-full flex-row items-center justify-between">
			<button
				type="button"
				class="flex flex-row items-center justify-between rounded-lg bg-transparent px-3 py-2 text-sm text-red-400 transition-transform active:scale-95"
				(click)="handleClose()"
			>
				Close
				<fa-icon
					[icon]="icons().faCircleXmark"
					class="ml-2 text-red-400"
				></fa-icon>
			</button>
			<button
				type="button"
				class="flex flex-row items-center justify-between rounded-lg bg-neutral-100 px-6 py-2 text-sm text-dongs-500 transition-transform active:scale-95 dark:bg-neutral-800 dark:brightness-110"
				(click)="handleApply()"
			>
				Apply
				<fa-icon
					[icon]="icons().faPaperPlane"
					class="ml-2 text-dongs-500"
				></fa-icon>
			</button>
		</div>
	</section>
</aside>
