<aside class="fixed bottom-0 left-0 right-0 top-0 z-[900] flex items-center justify-center bg-zinc-200/40 backdrop-blur-[2px] dark:bg-slate-900/80">
	<section
		class="absolute bottom-0 left-0 right-0 top-0 z-[901]"
		(click)="handleClose()"
	></section>
	<section class="z-[901] min-w-[450px] rounded-md border border-slate-900/10 bg-zinc-50 p-8 shadow-sm dark:border-slate-50/10 dark:bg-slate-900">
		<form
			action=""
			class="flex flex-col gap-6"
		>
			<div>
				<p class="select-none text-lg font-semibold text-zinc-400/80">Table Controls</p>
				<hr class="kds-h-divider-inverted !mb-6 !mt-2 !h-px text-slate-400" />
				<div class="flex flex-row gap-6">
					<div class="kds-form-group-v flex-1">
						<label for="control-goto">Go to Page</label>
						<input
							id="control-goto"
							type="number"
							class="kds-input kds-input-sm w-full text-center font-mono text-xs disabled:bg-transparent disabled:dark:border-slate-700"
							min="1"
							#currPageRef
						/>
					</div>
					<div class="kds-form-group-v flex-1">
						<label for="control-itemsPerPage">Items per Page</label>
						<input
							id="control-itemsPerPage"
							type="number"
							class="kds-input kds-input-sm w-full text-center font-mono text-xs disabled:bg-transparent disabled:dark:border-slate-700"
							min="5"
							step="5"
						/>
					</div>
				</div>
			</div>
			<div>
				<p class="select-none text-lg font-semibold text-zinc-400/80">Filters</p>
				<hr class="kds-h-divider-inverted !mb-6 !mt-2 !h-px text-slate-400" />
			</div>
			<div class="flex w-full flex-row items-center justify-between">
				<button
					type="button"
					class="flex flex-row items-center justify-between rounded-lg bg-zinc-50 px-3 py-1.5 text-sm text-red-400 transition-transform hover:-translate-y-1 active:scale-95 dark:bg-slate-900"
					(click)="handleClose()"
				>
					Close
					<fa-icon
						[icon]="icons().faCircleXmark"
						class="ml-2 text-red-400"
					></fa-icon>
				</button>
				<button
					type="submit"
					class="flex flex-row items-center justify-between rounded-lg bg-zinc-100 px-3 py-1.5 text-sm text-dongs-500 transition-transform hover:-translate-y-1 active:scale-95 dark:bg-slate-800"
				>
					Apply
					<fa-icon
						[icon]="icons().faPaperPlane"
						class="ml-2 text-dongs-500"
					></fa-icon>
				</button>
			</div>
		</form>
	</section>
</aside>
