<div class="mt-6 flex flex-col gap-6 rounded-lg bg-zinc-100 p-4">
	<div class="flex flex-row items-center justify-between">
		<span class="kds-title-slash select-none font-medium text-dongs-500">Evolution</span>
		<button
			type="button"
			[cdkMenuTriggerFor]="options"
			class="group/btn flex select-none flex-row items-center justify-center rounded-lg bg-zinc-50 px-3 py-2 text-sm transition-transform active:scale-95 dark:bg-slate-900"
		>
			<fa-icon
				class="mr-2 group-hover/btn:text-dongs-500"
				[icon]="icons().faCaretDown"
			></fa-icon>
			<span class="font-medium group-hover/btn:text-dongs-500">Options</span>
		</button>
		<ng-template #options>
			<div
				class="mt-1.5 flex min-w-[300px] flex-col items-start justify-center gap-1.5 rounded-lg border border-zinc-300/40 bg-zinc-50 p-2 dark:border-slate-50/[0.06]"
				cdkMenu
			>
				<div class="group/info relative w-full rounded-lg hover:bg-slate-100">
					<div class="absolute -left-4 top-0 z-[200] hidden w-64 -translate-x-full rounded-md border border-gray-600/40 bg-gray-500 p-2 group-hover/info:block">
						<div class="flex flex-col gap-1">
							<p class="font-kds-mono text-xs leading-normal text-white">
								<fa-icon
									[icon]="icons().faCircleInfo"
									class="mr-1 text-xs text-white"
								></fa-icon>
								Unify or separate the wallets into different datasets on the chart.
							</p>
						</div>
					</div>
					<button
						type="button"
						class="group/btn flex w-full select-none flex-row items-center justify-between gap-6 px-3 py-2.5 transition-transform active:scale-95 disabled:active:scale-100"
						(click)="handleUnifyDatasets()"
						[disabled]="data().length <= 1"
					>
						<span class="text-xs font-medium capitalize text-dongs-500">{{ unifyDatasets() ? 'Unified' : 'Separate' }}</span>
						<div class="flex flex-1 flex-row items-center justify-end text-sm">
							<fa-icon
								[icon]="icons().faCodeMerge"
								class="mr-2 group-hover/btn:text-dongs-500 group-disabled/btn:text-gray-300 group-disabled/btn:dark:text-gray-600"
							></fa-icon>
							<span class="font-medium group-hover/btn:text-dongs-500 group-disabled/btn:text-gray-300 group-disabled/btn:dark:text-gray-600">Data Series</span>
						</div>
					</button>
				</div>
				<div class="group/info relative w-full rounded-lg hover:bg-slate-100">
					<div class="absolute -left-4 top-0 z-[200] hidden w-64 -translate-x-full rounded-md border border-gray-600/40 bg-gray-500 p-2 group-hover/info:block">
						<div class="flex flex-col gap-1">
							<p class="font-kds-mono text-xs leading-normal text-white">
								<fa-icon
									[icon]="icons().faCircleInfo"
									class="mr-1 text-xs text-white"
								></fa-icon>
								Compare Net profits with Gross profits. (<b class="text-white">Unified</b> only)
							</p>
						</div>
					</div>
					<button
						type="button"
						class="group/btn flex w-full select-none flex-row items-center justify-between gap-6 px-3 py-2.5 transition-transform active:scale-95 disabled:active:scale-100"
						(click)="handleCompareNetGross()"
						[disabled]="unifyDatasets() === false"
					>
						<span class="text-xs font-medium capitalize text-dongs-500">{{ compareNetGross() ? 'On' : 'Off' }}</span>
						<div class="flex flex-1 flex-row items-center justify-end text-sm">
							<fa-icon
								[icon]="icons().faEye"
								class="mr-2 group-hover/btn:text-dongs-500 group-disabled/btn:text-gray-300 group-disabled/btn:dark:text-gray-600"
							></fa-icon>
							<span class="font-medium group-hover/btn:text-dongs-500 group-disabled/btn:text-gray-300 group-disabled/btn:dark:text-gray-600">Net & Gross</span>
						</div>
					</button>
				</div>
			</div>
		</ng-template>
	</div>
	<div class="flex flex-col gap-1">
		<div class="flex flex-row items-center">
			<div id="evolutionChart"></div>
		</div>
		<div
			id="evolutionChartLegend"
			class="flex flex-row items-center justify-end gap-2"
		></div>
	</div>
</div>
