<div class="mt-6 flex flex-col gap-6 rounded-lg bg-zinc-100 p-4">
	<div class="flex flex-row items-center justify-between">
		<span class="kds-title-slash select-none font-medium text-dongs-500">
			Indicators
			<div class="mt-1 flex flex-row items-center rounded-lg bg-indigo-400 px-2 py-1">
				<span class="text-[.7rem] text-white">{{ data().indicators.local_date_begin | date: 'MMM yyyy' }} - {{ data().indicators.local_date_end | date: 'MMM yyyy' }}</span>
			</div>
		</span>
		<div class="group/info relative rounded-lg bg-zinc-50 dark:bg-slate-900">
			<div class="absolute -left-2 top-0 z-[200] hidden w-64 -translate-x-full rounded-md border border-gray-600/40 bg-gray-500 p-2 group-hover/info:block">
				<div class="flex flex-col gap-1">
					<p class="font-kds-mono text-xs leading-normal text-white">
						<fa-icon
							[icon]="icons().faCircleInfo"
							class="mr-1 text-xs text-white"
						></fa-icon>
						Compare the data against all your wallets summed.
					</p>
				</div>
			</div>
			<button
				type="button"
				class="group/btn flex w-full select-none flex-row items-center justify-between gap-6 px-3 py-2 transition-transform active:scale-95"
				(click)="handleCompareWithTotalChange()"
			>
				<span class="text-xs font-medium capitalize text-dongs-500">{{ compareWithTotal() ? 'On' : 'Off' }}</span>
				<div class="flex flex-1 flex-row items-center justify-end text-sm">
					<fa-icon
						[icon]="icons().faArrowRightArrowLeft"
						class="mr-2 group-hover/btn:text-dongs-500"
					></fa-icon>
					<span class="font-medium group-hover/btn:text-dongs-500">Compare Total</span>
				</div>
			</button>
		</div>
	</div>
	<div class="grid grid-cols-8 gap-4">
		<div class="col-span-2 flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-dongs-500">N° of Assets</span>
			<div class="flex w-full flex-1 flex-col justify-start gap-2">
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row justify-between gap-2">
						<span class="text-xs font-bold">Total:</span>
						<span class="text-[.7rem]">{{ data().indicators.number_of_assets_total }}</span>
					</div>
					<div class="flex flex-row justify-between gap-2">
						<span class="ml-4 text-xs">Profitable:</span>
						<span class="text-[.7rem]">{{ data().indicators.number_of_assets_total_positive }}</span>
					</div>
					<div class="flex flex-row justify-between gap-2">
						<span class="ml-4 text-xs">Unprofitable:</span>
						<span class="text-[.7rem]">{{ data().indicators.number_of_assets_total_negative }}</span>
					</div>
				</div>
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row justify-between gap-2">
						<span class="text-xs font-bold">Active:</span>
						<span class="text-[.7rem]">{{ data().indicators.number_of_assets_active }}</span>
					</div>
					<div class="flex flex-row justify-between gap-2">
						<span class="ml-4 text-xs">Profitable:</span>
						<span class="text-[.7rem]">{{ data().indicators.number_of_assets_active_positive }}</span>
					</div>
					<div class="flex flex-row justify-between gap-2">
						<span class="ml-4 text-xs">Unprofitable:</span>
						<span class="text-[.7rem]">{{ data().indicators.number_of_assets_active_negative }}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-span-2 flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-dongs-500">Expectancy</span>
			<div class="flex w-full flex-1 flex-col justify-start gap-1">
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row justify-between gap-2">
						<span class="text-xs font-medium">By Asset</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-center justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.expectancy_by_asset"
										[value]="data().indicators.expectancy_by_asset"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.expectancy_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500">
									[{{ data().indicatorsComparison.expectancy_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
								</span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.expectancy_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
						}
					</div>
					<div class="flex flex-row justify-between gap-2">
						<span class="ml-4 text-xs">Avg. Days:</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-center justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.avg_days_by_asset"
										[value]="data().indicators.avg_days_by_asset"
										[inverse]="true"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.avg_days_by_asset }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_days_by_asset }}] </span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.avg_days_by_asset }}</span>
						}
					</div>
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Day:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.expectancy_by_day"
									[value]="data().indicators.expectancy_by_day"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.expectancy_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.expectancy_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.expectancy_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Month:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.expectancy_by_month"
									[value]="data().indicators.expectancy_by_month"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.expectancy_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500">
								[{{ data().indicatorsComparison.expectancy_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
							</span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.expectancy_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Quarter:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.expectancy_by_quarter"
									[value]="data().indicators.expectancy_by_quarter"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.expectancy_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500">
								[{{ data().indicatorsComparison.expectancy_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
							</span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.expectancy_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Year:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.expectancy_by_year"
									[value]="data().indicators.expectancy_by_year"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.expectancy_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500">
								[{{ data().indicatorsComparison.expectancy_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
							</span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.expectancy_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
			</div>
		</div>
		<div class="col-span-2 flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-red-400">Avg. Costs</span>
			<div class="flex w-full flex-1 flex-col justify-start gap-1">
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row justify-between gap-2">
						<span class="text-xs font-medium">By Asset</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-center justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.avg_cost_by_asset"
										[value]="data().indicators.avg_cost_by_asset"
										[inverse]="true"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500">
									[{{ data().indicatorsComparison.avg_cost_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
								</span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
						}
					</div>
					<div class="flex flex-row justify-between gap-2">
						<span class="ml-4 text-xs">Avg. Days:</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-center justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.avg_days_by_asset"
										[value]="data().indicators.avg_days_by_asset"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.avg_days_by_asset }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_days_by_asset }}] </span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.avg_days_by_asset }}</span>
						}
					</div>
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Day:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_cost_by_day"
									[value]="data().indicators.avg_cost_by_day"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_cost_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Month:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_cost_by_month"
									[value]="data().indicators.avg_cost_by_month"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_cost_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Quarter:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_cost_by_quarter"
									[value]="data().indicators.avg_cost_by_quarter"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500">
								[{{ data().indicatorsComparison.avg_cost_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
							</span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Year:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_cost_by_year"
									[value]="data().indicators.avg_cost_by_year"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_cost_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_cost_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
			</div>
		</div>
		<div class="col-span-2 flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-red-400">Avg. Taxes</span>
			<div class="flex w-full flex-1 flex-col justify-start gap-1">
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row justify-between gap-2">
						<span class="text-xs font-medium">By Asset</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-center justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.avg_tax_by_asset"
										[value]="data().indicators.avg_tax_by_asset"
										[inverse]="true"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500">
									[{{ data().indicatorsComparison.avg_tax_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
								</span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_asset | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
						}
					</div>
					<div class="flex flex-row justify-between gap-2">
						<span class="ml-4 text-xs">Avg. Days:</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-center justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.avg_days_by_asset"
										[value]="data().indicators.avg_days_by_asset"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.avg_days_by_asset }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_days_by_asset }}] </span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.avg_days_by_asset }}</span>
						}
					</div>
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Day:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_tax_by_day"
									[value]="data().indicators.avg_tax_by_day"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_tax_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_day | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Month:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_tax_by_month"
									[value]="data().indicators.avg_tax_by_month"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_tax_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_month | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Quarter:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_tax_by_quarter"
									[value]="data().indicators.avg_tax_by_quarter"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500">
								[{{ data().indicatorsComparison.avg_tax_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}]
							</span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_quarter | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
				<div class="flex flex-row items-center justify-between gap-2">
					<span class="text-xs font-medium">By Year:</span>
					@if (compareWithTotal()) {
						<div class="flex flex-col items-center justify-center">
							<div class="flex flex-row items-center gap-2">
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.avg_tax_by_year"
									[value]="data().indicators.avg_tax_by_year"
									[inverse]="true"
									size="xs"
								/>
								<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
							</div>
							<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_tax_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
						</div>
					} @else {
						<span class="text-[.7rem]">{{ data().indicators.avg_tax_by_year | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					}
				</div>
			</div>
		</div>
		<div class="col-span-2 flex flex-col justify-center gap-4 rounded-lg border border-zinc-300/40 bg-zinc-50 p-4 desktop-2k:col-span-1 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-dongs-500">Profit Balance</span>
			<div class="flex w-full flex-1 flex-row items-center justify-evenly">
				@if (compareWithTotal()) {
					<div class="flex flex-col items-center justify-center">
						<div class="flex flex-row items-center gap-2">
							<kds-comparison-arrow
								[baseValue]="data().indicatorsComparison.profit_in_perc"
								[value]="data().indicators.profit_in_perc"
								size="xs"
							/>
							<span
								class="text-[.7rem]"
								[class]="{
									'text-emerald-600': 0.75 > 0,
									'text-red-500': 0.75 < 0,
								}"
							>
								{{ data().indicators.profit_in_perc | percent: '0.0-2' }}
							</span>
						</div>
						<span class="text-[.7rem] text-gray-500"> ({{ data().indicatorsComparison.profit_in_perc | percent: '0.0-2' }}) </span>
					</div>
					<div class="flex flex-col items-center justify-center">
						<div class="flex flex-row items-center gap-2">
							@if (compareWithTotal()) {
								<kds-comparison-arrow
									[baseValue]="data().indicatorsComparison.profit_in_curncy"
									[value]="data().indicators.profit_in_curncy"
									size="xs"
								/>
							}
							<span
								class="text-xs"
								[class]="{
									'text-emerald-600': 5000 > 0,
									'text-red-500': 5000 < 0,
								}"
							>
								{{ data().indicators.profit_in_curncy | currency: currencyOnUse() : 'symbol' : '0.0-2' }}
							</span>
						</div>
						<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.profit_in_curncy | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
					</div>
				} @else {
					<span
						class="text-[.7rem]"
						[class]="{
							'text-emerald-600': 0.75 > 0,
							'text-red-500': 0.75 < 0,
						}"
					>
						{{ data().indicators.profit_in_perc | percent: '0.0-2' }}
					</span>
					<span
						class="text-xs"
						[class]="{
							'text-emerald-600': 5000 > 0,
							'text-red-500': 5000 < 0,
						}"
					>
						{{ data().indicators.profit_in_curncy | currency: currencyOnUse() : 'symbol' : '0.0-2' }}
					</span>
				}
			</div>
		</div>
		<div class="flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-dongs-500">Breakeven</span>
			<div class="flex w-full flex-1 flex-row items-center justify-evenly">
				<kds-gauge
					[value]="data().indicators.breakeven * 100"
					[colorMeter]="[
						{ threshold: 50, stroke: 'stroke-dongs-500', fill: 'fill-dongs-500' },
						{ threshold: 75, stroke: 'stroke-amber-500', fill: 'fill-amber-500' },
						{ threshold: 100, stroke: 'stroke-red-500', fill: 'fill-red-500' },
					]"
					size="sm"
				>
					{{ data().indicators.breakeven | percent: '0.0-2' }}
				</kds-gauge>
			</div>
		</div>
		<div class="flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-dongs-500">Edge</span>
			<div class="flex w-full flex-1 flex-row items-center justify-evenly">
				<kds-gauge
					[value]="data().indicators.edge * 100"
					size="sm"
					[colorMeter]="[
						{ threshold: 50, stroke: 'stroke-red-500', fill: 'fill-red-500' },
						{ threshold: 75, stroke: 'stroke-amber-500', fill: 'fill-amber-500' },
						{ threshold: 100, stroke: 'stroke-dongs-500', fill: 'fill-dongs-500' },
					]"
				>
					{{ data().indicators.edge | percent: '0.0-2' }}
				</kds-gauge>
			</div>
		</div>
		<div class="col-span-2 flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-dongs-500">Profits & Losses</span>
			<div class="flex w-full flex-1 flex-col justify-start gap-2">
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Total Profit</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-end justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.total_profit"
										[value]="data().indicators.total_profit"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.total_profit | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.total_profit | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.total_profit | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
						}
					</div>
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Avg. Profit</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-end justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.avg_profit"
										[value]="data().indicators.avg_profit"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.avg_profit | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_profit | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.avg_profit | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
						}
					</div>
				</div>
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Total Loss</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-end justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.total_loss"
										[value]="data().indicators.total_loss"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.total_loss | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.total_loss | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.total_loss | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
						}
					</div>
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Avg. Loss</span>
						@if (compareWithTotal()) {
							<div class="flex flex-col items-end justify-center">
								<div class="flex flex-row items-center gap-2">
									<kds-comparison-arrow
										[baseValue]="data().indicatorsComparison.avg_loss"
										[value]="data().indicators.avg_loss"
										[inverse]="true"
										size="xs"
									/>
									<span class="text-[.7rem]">{{ data().indicators.avg_loss | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
								</div>
								<span class="text-[.7rem] text-gray-500"> [{{ data().indicatorsComparison.avg_loss | currency: currencyOnUse() : 'symbol' : '0.0-2' }}] </span>
							</div>
						} @else {
							<span class="text-[.7rem]">{{ data().indicators.avg_loss | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
						}
					</div>
				</div>
			</div>
		</div>
		<div class="col-span-2 flex flex-col justify-center gap-4 rounded-md border border-zinc-300/40 bg-zinc-50 p-4 dark:border-slate-50/[0.06]">
			<span class="kds-title-slash pl-2.5 text-xs font-bold text-dongs-500">Historic</span>
			<div class="flex w-full flex-1 flex-col justify-start gap-2">
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Highest Balance</span>
						<span class="text-[.7rem]">{{ data().indicators.historic_high | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					</div>
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Lowest Balance</span>
						<span class="text-[.7rem]">{{ data().indicators.historic_low | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					</div>
				</div>
				<div class="flex flex-col gap-0.5">
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Highest Profit</span>
						<span class="text-[.7rem]">{{ data().indicators.highest_profit | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					</div>
					<div class="flex flex-row items-center justify-between gap-2">
						<span class="text-xs font-medium">Highest Loss</span>
						<span class="text-[.7rem]">{{ data().indicators.highest_loss | currency: currencyOnUse() : 'symbol' : '0.0-2' }}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
