<main class="min-h-screen bg-neutral-50 dark:bg-neutral-900">
	<section class="z-2 flex min-h-screen flex-row items-stretch gap-0 px-10 pt-20 desktop-2k:container">
		<section class="relative my-8 flex max-h-[calc(100vh-144px)] min-h-[600px] w-[350px] flex-col gap-4 overflow-y-auto p-4">
			<button
				type="button"
				class="group/btn flex select-none flex-row items-center justify-center rounded-lg bg-neutral-100 px-3 py-2 text-sm transition-transform hover:-translate-y-0.5 active:scale-95 dark:bg-neutral-700"
				routerLink="/new"
				[disabled]="gatewayLoading()"
			>
				<fa-icon
					class="mr-2 group-hover/btn:text-dongs-500"
					[icon]="icons().faPlus"
				/>
				<span class="font-medium group-hover/btn:text-dongs-500">New Wallet</span>
			</button>
			@if (gatewayLoading() && (wallets()?.length ?? 0) === 0) {
				<div class="flex h-full w-full items-center justify-center">
					<kds-loading-spinner
						size="xl"
						color="neutral"
					/>
				</div>
			} @else if (wallets() === null) {
				<div class="flex h-full w-full items-center justify-center">
					<div class="flex select-none flex-col items-center justify-center p-6 text-xl font-semibold text-slate-400">Failed to Load</div>
				</div>
			} @else if (wallets()!.length === 0) {
				<div class="flex h-full w-full items-center justify-center">
					<div class="flex select-none flex-col items-center justify-center p-6 text-xl font-semibold text-slate-400">No Wallets</div>
				</div>
			} @else {
				@for (wallet of wallets(); track wallet.wallet_id) {
					<div
						class="cursor-pointer select-none rounded-lg border border-slate-300/40 p-4 dark:border-slate-50/10 dark:bg-neutral-800"
						[class]="{
							'ring-2': selectedWallets().has(wallet.wallet_id),
							'ring-dongs-400/65': selectedWallets().has(wallet.wallet_id),
						}"
						(click)="handleSelectMoreWallets($event, wallet.wallet_id)"
					>
						<div class="flex flex-row">
							<div class="flex flex-1 flex-col gap-0.5">
								<span class="text-sm font-semibold text-dongs-500 dark:text-dongs-400">{{ wallet.wallet_name }}</span>
								<div class="flex flex-row items-center gap-1.5 *:font-mono *:text-slate-400">
									<fa-icon
										class="text-[.65rem]"
										[icon]="icons().faRotate"
									></fa-icon>
									<span class="text-[.7rem]">{{ wallet.wallet_last_updated | date: 'dd/MM/yy HH:mm' }}</span>
								</div>
							</div>
							@if (selectedWallets().has(wallet.wallet_id)) {
								<div class="flex flex-col items-center justify-center px-2">
									<fa-icon
										class="text-dongs-500 dark:text-dongs-400"
										[icon]="icons().faCheck"
									></fa-icon>
								</div>
							}
						</div>
						<hr class="kds-h-divider-inverted !my-3 !h-px text-slate-400" />
						<div class="flex flex-col gap-2.5">
							<div class="flex flex-row items-center justify-between">
								<span class="text-xs text-slate-500 dark:text-slate-400">Input Balance:</span>
								<div class="flex flex-col items-center gap-0.5">
									<span class="text-xs font-semibold text-slate-500 dark:text-slate-400">
										{{ wallet.wallet_input_balance | currency: wallet.wallet_currency : 'symbol' : '0.0-2' }}
									</span>
									<div
										class="h-0.5 w-full rounded-full bg-slate-300/60"
										[class.opacity-0]="!selectedWallets().has(wallet.wallet_id)"
									>
										<div
											class="h-[2.5px] rounded-full bg-amber-400"
											[style.width]="selectedWallets().get(wallet.wallet_id)?.input_balance_percentage_of"
										></div>
									</div>
								</div>
							</div>
							<div class="flex flex-row items-center justify-between">
								<span class="text-xs text-slate-500 dark:text-slate-400">Current Balance:</span>
								<div class="flex flex-col items-center gap-0.5">
									<span class="text-xs font-semibold text-slate-500 dark:text-slate-400">
										{{ wallet.wallet_current_balance | currency: wallet.wallet_currency : 'symbol' : '0.0-2' }}
									</span>
									<div class="h-0.5 w-full opacity-0"></div>
								</div>
							</div>
							<div class="flex flex-row items-center justify-center rounded-lg border border-dashed border-slate-300/40 px-2 py-4 dark:border-slate-50/10">
								<div class="flex flex-row items-end justify-center gap-2">
									<span
										class="text-[.7rem] font-semibold"
										[class]="{
											'text-emerald-600': wallet.wallet_profit_in_perc > 0,
											'dark:text-emerald-500': wallet.wallet_profit_in_perc > 0,
											'text-red-500': wallet.wallet_profit_in_perc < 0,
											'dark:text-red-400': wallet.wallet_profit_in_perc < 0,
										}"
									>
										{{ wallet.wallet_profit_in_perc | percent: '0.0-2' }}
									</span>
									<div class="flex flex-col items-center gap-0.5">
										<span class="text-xs font-semibold">
											{{ wallet.wallet_profit_in_curncy | currency: wallet.wallet_currency : 'symbol' : '0.0-2' }}
										</span>
										<div
											class="h-0.5 w-full rounded-full bg-slate-300/60"
											[class.opacity-0]="!selectedWallets().has(wallet.wallet_id)"
										>
											<div
												class="h-[2.5px] rounded-full bg-amber-400"
												[style.width]="selectedWallets().get(wallet.wallet_id)?.profit_percentage_of"
											></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}
		</section>
		<section class="my-8 flex flex-1 flex-col border-l border-slate-300/40 p-4 dark:border-slate-50/10">
			<menu class="flex flex-row items-center justify-between">
				<div class="flex flex-row gap-2">
					<button
						type="button"
						class="group/btn flex select-none flex-row items-center justify-center rounded-lg bg-neutral-100 px-3 py-2 text-sm transition-transform hover:-translate-y-0.5 active:scale-95 dark:bg-neutral-700"
						[class]="{
							'ring-2': selectedSection() === 'performance',
							'ring-dongs-500/65': selectedSection() === 'performance',
						}"
						(click)="handleDetailPanelChange('performance')"
					>
						<fa-icon
							class="mr-2 group-hover/btn:text-dongs-500"
							[icon]="icons().faChartBar"
						/>
						<span class="font-medium group-hover/btn:text-dongs-500">Performance</span>
					</button>
					<button
						type="button"
						class="group/btn flex select-none flex-row items-center justify-center rounded-lg bg-neutral-100 px-3 py-2 text-sm transition-transform hover:-translate-y-0.5 active:scale-95 dark:bg-neutral-700"
						[class]="{
							'ring-2': selectedSection() === 'balance_history',
							'ring-dongs-500/65': selectedSection() === 'balance_history',
						}"
						(click)="handleDetailPanelChange('balance_history')"
					>
						<fa-icon
							class="mr-2 group-hover/btn:text-dongs-500"
							[icon]="icons().faTimeline"
						/>
						<span class="font-medium group-hover/btn:text-dongs-500">Balance History</span>
					</button>
					<button
						type="button"
						class="group/btn flex select-none flex-row items-center justify-center rounded-lg bg-neutral-100 px-3 py-2 text-sm transition-transform hover:-translate-y-0.5 active:scale-95 dark:bg-neutral-700"
						[class]="{
							'ring-2': selectedSection() === 'assets',
							'ring-dongs-500/65': selectedSection() === 'assets',
						}"
						(click)="handleDetailPanelChange('assets')"
					>
						<fa-icon
							class="mr-2 group-hover/btn:text-dongs-500"
							[icon]="icons().faFileInvoiceDollar"
						/>
						<span class="font-medium group-hover/btn:text-dongs-500">Assets</span>
					</button>
				</div>
				<div class="group/info relative rounded-lg bg-neutral-100 dark:bg-neutral-700">
					<div class="absolute -left-2 top-0 z-[200] hidden w-64 -translate-x-full rounded-md border border-gray-600/40 bg-gray-500 p-2 group-hover/info:block">
						<div class="flex flex-col gap-1">
							<p class="font-kds-mono text-xs leading-normal text-white">
								<fa-icon
									[icon]="icons().faCircleInfo"
									class="mr-1 text-xs text-white"
								></fa-icon>
								Change the currency of the data. It will do the conversion using the last known exchange price.
							</p>
						</div>
					</div>
					<button
						type="button"
						class="group/btn flex w-full select-none flex-row items-center justify-between gap-6 rounded-lg px-3 py-2.5 transition-transform active:scale-95 disabled:active:scale-100"
						[cdkMenuTriggerFor]="options"
					>
						<span class="text-xs font-medium text-dongs-500 dark:text-dongs-400">{{ selectedCurrency() }}</span>
						<div class="flex flex-1 flex-row items-center justify-end text-sm">
							<fa-icon
								[icon]="icons().faCaretDown"
								class="mr-2 group-hover/btn:text-dongs-500 group-disabled/btn:text-gray-300 group-disabled/btn:dark:text-gray-600"
							></fa-icon>
							<span class="font-medium group-hover/btn:text-dongs-500 group-disabled/btn:text-gray-300 group-disabled/btn:dark:text-gray-600">Currency</span>
						</div>
					</button>
					<ng-template #options>
						<div
							class="my-1.5 flex min-w-[200px] flex-col items-start justify-center gap-1.5 rounded-lg border border-slate-300/40 bg-neutral-50 p-2 dark:border-slate-50/10 dark:bg-neutral-800"
							cdkMenu
						>
							<div class="group/option-info relative w-full cursor-pointer select-none rounded-lg hover:bg-slate-100 dark:hover:bg-neutral-700">
								<div
									class="absolute -left-4 top-0 z-[200] hidden w-64 -translate-x-full rounded-md border border-gray-600/40 bg-gray-500 p-2 group-hover/option-info:block"
								>
									<div class="flex flex-col gap-1">
										<p class="font-kds-mono text-xs leading-normal text-white">
											<fa-icon
												[icon]="icons().faCircleInfo"
												class="mr-1 text-xs text-white"
											></fa-icon>
											Use currency of the Wallet. If multiple wallets are selected, it will use the most used currency of them.
										</p>
									</div>
								</div>
								<button
									type="button"
									class="group/option-btn flex w-full select-none flex-row items-center justify-between gap-6 px-3 py-2.5 transition-transform active:scale-95 disabled:active:scale-100"
									(click)="handleCurrencyChange('Wallet')"
								>
									<fa-icon
										[icon]="icons().faWallet"
										class="mr-2 text-xs group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									></fa-icon>
									<span
										class="text-xs font-medium group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									>
										Keep Wallet
									</span>
								</button>
							</div>
							<div class="group/option-info relative w-full cursor-pointer select-none rounded-lg hover:bg-slate-100 dark:hover:bg-neutral-700">
								<button
									type="button"
									class="group/option-btn flex w-full select-none flex-row items-center justify-between gap-6 px-3 py-2.5 transition-transform active:scale-95 disabled:active:scale-100"
									(click)="handleCurrencyChange('BRL')"
								>
									<fa-icon
										[icon]="icons().faBrazilianRealSign"
										class="mr-2 text-xs group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									></fa-icon>
									<span
										class="text-xs font-medium group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									>
										BRL
									</span>
								</button>
							</div>
							<div class="group/option-info relative w-full cursor-pointer select-none rounded-lg hover:bg-slate-100 dark:hover:bg-neutral-700">
								<button
									type="button"
									class="group/option-btn flex w-full select-none flex-row items-center justify-between gap-6 px-3 py-2.5 transition-transform active:scale-95 disabled:active:scale-100"
									(click)="handleCurrencyChange('USD')"
								>
									<fa-icon
										[icon]="icons().faDollarSign"
										class="mr-2 text-xs group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									></fa-icon>
									<span
										class="text-xs font-medium group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									>
										USD
									</span>
								</button>
							</div>
							<div class="group/option-info relative w-full cursor-pointer select-none rounded-lg hover:bg-slate-100 dark:hover:bg-neutral-700">
								<button
									type="button"
									class="group/option-btn flex w-full select-none flex-row items-center justify-between gap-6 px-3 py-2.5 transition-transform active:scale-95 disabled:active:scale-100"
									(click)="handleCurrencyChange('EUR')"
								>
									<fa-icon
										[icon]="icons().faEuroSign"
										class="mr-2 text-xs group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									></fa-icon>
									<span
										class="text-xs font-medium group-hover/option-btn:text-dongs-500 group-disabled/option-btn:text-gray-300 group-disabled/option-btn:dark:text-gray-600"
									>
										EUR
									</span>
								</button>
							</div>
						</div>
					</ng-template>
				</div>
			</menu>
			@if (gatewayLoading()) {
				<div class="flex h-full w-full items-center justify-center">
					<kds-loading-spinner
						size="xl"
						color="neutral"
					/>
				</div>
			} @else {
				<section class="mt-4 flex flex-col gap-2">
					@switch (selectedSection()) {
						@case ('performance') {
							@if (performanceData() === null || performanceData()?.indicators === undefined || performanceData()?.indicatorsComparison === undefined) {
								<div class="flex h-72 flex-col gap-6 rounded-lg border border-slate-300/40 bg-neutral-100 p-4 dark:border-slate-50/10 dark:bg-neutral-800">
									<div class="flex h-full w-full items-center justify-center">
										<div class="flex select-none flex-col items-center justify-center p-6 text-xl font-semibold text-slate-400">Failed to load Indicators</div>
									</div>
								</div>
							} @else {
								<app-performance-indicators
									[currencyOnUse]="currencyOnUse()"
									[data]="performanceData()!"
								/>
							}
							@if (performanceData() === null || performanceData()?.walletsSeries === undefined) {
								<div class="flex h-72 flex-col gap-6 rounded-lg border border-slate-300/40 bg-neutral-100 p-4 dark:border-slate-50/10 dark:bg-neutral-800">
									<div class="flex h-full w-full items-center justify-center">
										<div class="flex select-none flex-col items-center justify-center p-6 text-xl font-semibold text-slate-400">Failed to load Evolution</div>
									</div>
								</div>
								<div class="flex h-72 flex-col gap-6 rounded-lg border border-slate-300/40 bg-neutral-100 p-4 dark:border-slate-50/10 dark:bg-neutral-800">
									<div class="flex h-full w-full items-center justify-center">
										<div class="flex select-none flex-col items-center justify-center p-6 text-xl font-semibold text-slate-400">Failed to load Groups</div>
									</div>
								</div>
							} @else {
								<app-performance-evolution
									[currencyOnUse]="currencyOnUse()"
									[data]="performanceData()!.walletsSeries"
								/>
								<app-performance-group
									[currencyOnUse]="currencyOnUse()"
									[data]="performanceData()!.walletsSeries"
								/>
							}
						}
                        @case ('balance_history') {
                            @if (balanceHistoryData() === null || balanceHistoryData()?.walletsSeries === undefined) {
								<div class="flex h-72 flex-col gap-6 rounded-lg border border-slate-300/40 bg-neutral-100 p-4 dark:border-slate-50/10 dark:bg-neutral-800">
									<div class="flex h-full w-full items-center justify-center">
										<div class="flex select-none flex-col items-center justify-center p-6 text-xl font-semibold text-slate-400">Failed to load Evolution</div>
									</div>
								</div>
								<div class="flex h-72 flex-col gap-6 rounded-lg border border-slate-300/40 bg-neutral-100 p-4 dark:border-slate-50/10 dark:bg-neutral-800">
									<div class="flex h-full w-full items-center justify-center">
										<div class="flex select-none flex-col items-center justify-center p-6 text-xl font-semibold text-slate-400">Failed to load Timeline</div>
									</div>
								</div>
							} @else {
								<app-balance-evolution
									[currencyOnUse]="currencyOnUse()"
									[data]="balanceHistoryData()!.walletsSeries"
								/>
                                <div class="grid grid-cols-1 laptop:grid-cols-2 desktop-2k:grid-cols-3 gap-6">
                                    <app-balance-timeline
                                        [currencyOnUse]="currencyOnUse()"
                                        [data]="balanceHistoryData()!.walletsSeries"
                                    />
                                    <app-balance-control />
                                </div>
							}
                        }
					}
				</section>
			}
		</section>
	</section>
</main>
