@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;

@layer base {
	@font-face {
		font-family: 'KdsInter';
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url(/assets/font-inter.woff2) format('woff2');
	}

	@font-face {
		font-family: 'KdsMono';
		font-weight: 200 900;
		font-display: swap;
		src: url(/assets/font-mono.woff2) format('woff2');
	}

	::-webkit-scrollbar {
		@apply w-[5px];
	}

	::-webkit-scrollbar-track {
		@apply rounded-none bg-[#dedede] dark:bg-[#949494];
	}

	::-webkit-scrollbar-thumb {
		@apply rounded-none bg-dongs-300 dark:bg-dongs-500;
	}

	* {
		@apply font-kds-inter text-neutral-700 outline-0 focus:!ring-2 focus:!ring-dongs-300 dark:text-neutral-100 dark:outline-0 dark:focus:!ring-2 dark:focus:!ring-dongs-700;
	}
}

@tailwind components;
@tailwind utilities;

@layer utilities {
	.navleft-router-link-active {
		@apply bg-dongs-100 hover:!bg-dongs-100 dark:bg-dongs-500 dark:hover:!bg-dongs-500;

		& > span {
			@apply text-dongs-400 dark:text-current;
		}

		& > fa-icon {
			@apply text-dongs-400 dark:text-current;
		}
	}

	fa-icon {
		& svg {
			@apply text-current;

			& path {
				@apply text-current;
			}
		}
	}

	.billboard-lines-thick {
		stroke-width: 2px !important;
	}

	.billboard-lines-dashed {
		stroke-dasharray: 4 6;
		stroke-width: 2px !important;
	}
}
